
/* Create a medium height at 40px */
@media (min-width:768px) {
     .navbar-md {min-height:47px;height:47px;}
 }

 .node {
    width:200px;
    border:solid 1px black;
    float:left;
    margin:10px;
    padding:5px;
    font-size:12px;
    position:relative;
}

.light_node {
    width:30px;
    height:30px;
    margin:5px;
    border: solid 1px black;
    float:left;
    cursor:pointer;
}

.node hr {
    margin-top:5px;
    margin-bottom:10px;
}

.node span.status {
    display:none
}

.node_up {
   background-color:lightgreen
}

.node_up span.status.status-up {
    display:inline-block
}

.node_down {
    background-color:red
}

.node_down span.status.status-down {
    display:inline-block
}

.node_no_id {
    background-color:yellow
}

.node_wait_topo {
    background-color:orange
}

.node_wait_topo span.status.status-wait-topo {
    display:inline-block
}

.node_synchro {
    background-color:lightblue
}

.node_synchro span.status.status-synchro {
    display:inline-block
}

.disconnect {
    background-color:lightgrey
}

.check.fail {
    color:red
}

.check.success{
    color:green
}

.check{
    background-color:'yellow';
    padding-left:20px;
}

.progressbar {
    display:inline-block;
    width:110px;
    height:7px;
}

.temp_message {
    opacity:0;
    font-size:18px;
    font-weight:bold;
    position:absolute;
    width:100%;
    text-align:center;
    color:white;
    background-color:grey;
    left:0px;
    top:25px;
    padding-top:5px;
    padding-bottom:5px
}

.disconnect_bloc {
font-weight:bold;
color:red;
padding-left:10px
}

/* Request panel */
table.data-request {
    table-layout : fixed;
    width:100%;
}

table.head {
border-collapse: collapse;
width:calc(100% - 17px);
}

table.head th {
    text-align:center;
    cursor:pointer;
    overflow: hidden;
    max-width: 0px;
    text-overflow: ellipsis;
    border-left:1px solid white;
    padding:0px 5px 0px 5px;
}

table.data-request td{
    word-wrap:break-word;
    padding:0px 5px 0px 5px;
    cursor:pointer;
    font-size:12px;
    border-left:solid 1px lightgrey
}

table.data-request tr:nth-child(even) {
background-color:deepskyblue
}

table.data-request tr:hover {
    background-color:lightblue
}

div.error-message {
    color:red
}

#deleteCriterias input[type="text"] {
    width:120px;
}

/* Format history text block */
div.history {
    border-bottom-right-radius:10px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
    background-color:rgb(225,255,225);
    z-index:10000;
    position:absolute;
    width:300px;
    max-height:200px;
    overflow:auto;
    font-size:9px;
}

div.history > span {
    padding-left:10px;
    padding-right:10px;
    overflow:hidden;
    width:100%;
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.history > span:hover {
    cursor:pointer;
    background-color:#99DDFF;
}

.template {
    display:none
}

.popover {
    max-width:600px;
}

.popover table {
    border:solid 1px grey;
     border-collapse:collapse
}

.popover table td {
    padding-left:5px;
    padding-right:5px;
    font-size:12px;
    border:solid 1px lightgrey;
}

.popover table th {
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    font-size:14px;
}

.popover table  tr.total > td {
    text-align:center;
    font-weight:bold;
}

.float-panel {
    box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.7);
    display:none;
    background-color:white;
    z-index:1000;
    position:absolute;
    top:100px;
    left:100px;
}

.float-panel .title {
    font-weight:bold;
}

.float-panel.active {
    z-index:1001;
    box-shadow: 2px 4px 5px 1px rgba(150, 100, 0, 0.7);
}

.task-button {
    margin-left:10px
}

.task-button.active:hover {
background-color:lightskyblue;
}

.task-button.active.selected {
    background-color:orange;
}

.task-button.inactive:hover {
background-color:lightgray;
color:black;
}

.task-button.active {
    background-color:Highlight;
}

.task-button.inactive {
    background-color:gray;
    color:white;
}

.little-navbar {
    min-height:30px;
}

.little-navbar {
    margin:2px;
}

.little-navbar button {
    padding-top:2px;
    padding-bottom:2px;
}

.filter-field td input{
    height:20px;
    font-size:11px;
}

.mini-bloc {
    position:relative;
    top:-5px;
    color:white;
    font-size:12px;
    margin-right:5px;

}

label > [type="checkbox"] {
    margin-right:5px;
}

.content {
    overflow:auto;
    padding-left:10px
}

.content hr {
    margin-top:10px;
    margin-bottom:10px;
}

.popover-content.agent {
    width:120px;
}

.node .glyphicon {
    cursor:pointer;
    margin-right:5px;
}

.float-panel hr {
    margin-top:10px;
    margin-bottom:10px;
}

.log-box {
    width:100%;
    height:calc(100% - 30px);
    overflow:auto;
    padding-left:5px;
    font-size:12px;
}

.nb-results {
    font-size:11px;
    font-family:Georgia;
}

.breadcrumb {
    margin-bottom:0px;
}

.breadcrumb~hr {
    margin-top:0px;
}

.folders {
    overflow:auto;
    height:calc(100% - 105px);
}

.folders.block > span {
    display:inline-block;
    padding:20px 10px 20px 10px;
    margin:5px;
    border:solid 3px darkgray;
    width:155px;
    text-align:center;
    cursor:pointer;
    border-radius:5px 5px 15px 15px;
    background-color:lightsteelblue;
    font-size:12px;
}

.folders.block > span > span.info {
    display:none;
}

.folders.line > span {
    display:inline-block;
    margin:5px 0px 0px 5px;
    border-bottom:solid 1px lightgray;
    width:98%;
    text-align:left;
    cursor:pointer;
    font-size:12px;
}

.folders.line > span > span.info {
    float:right
}

.info-folders {
    padding-left:10px;
}

.normal-panel-size {
    width:500px;
    height:430px;
}

.maximize-panel-size {
   width:calc(100% - 4px);
   height:calc(100% - 80px);
   top:47px;
   left:0px;
}

.half-left-panel {
   width:calc(50% - 4px);
   height:calc(100% - 80px);
   top:47px;
   left:0px;
}

.half-right-panel {
   width:calc(50% - 8px);
   height:calc(100% - 80px);
   top:47px;
   left:50%;
}

/* Message info */
.message-cluster {
    padding-left:30px;
    display:none;
    cursor:pointer;
}

.message-cluster > span.title {
    font-weight:bold;
}

.message-cluster.success {
    color:green;
}

.message-cluster.error{
    color:red;
}

/* Tasks table */
.tasks td {
    padding-left:5px;
    padding-right:5px;
}

.tasks th {
    text-align:center;
    background-color:lightgreen;
}

span.glyphicon.icon {
    padding-right:5px;
}

ul.taskbar {
    list-style-type:none;
}

ul.taskbar > li {
    display:inline-block;
}